# Default ignored files
.idea/shelf/
.idea/workspace.xml
# Datasource local storage ignored files
.idea/dataSources/
.idea/dataSources.local.xml
# Editor-based HTTP Client requests
.idea/httpRequests/

solr/8.7.0/FILES/solr-8.7.0.tgz

.tgz